/* global.css */
body {
  background-image: url("./src/assets/images/background.jpg");
}

.btn-custom-purple {
  color: #fff;
  background-color: rgba(162, 0, 255, 0.5); /* Cor roxa */
  border-color: rgba(162, 0, 255, 0.5); /* Cor da borda roxa */
}

.btn-custom-purple:hover {
  background-color: rgba(
    162,
    0,
    255,
    0.5
  ); /* Cor roxa mais escura quando hover */
  border-color: rgba(
    162,
    0,
    255,
    0.5
  ); /* Cor da borda roxa mais escura quando hover */
}

.btn-outline-custom-purple {
  color: rgba(162, 0, 255, 0.5); /* Cor roxa */
  border-color: rgba(162, 0, 255, 0.5); /* Cor da borda roxa */
}

.btn-outline-custom-purple:hover {
  background-color: #800080; /* Cor de fundo roxa quando hover */
  border-color: #800080; /* Cor da borda roxa quando hover */
}

.text-custom-purple {
  color: #800080; /* Cor roxa */
}
.text-justify {
  text-align: justify !important;
}

.icon-purple {
  color: #8a2be2;
}

.bullet {
  display: inline-block;
  width: 30px; /* Largura do círculo */
  height: 30px; /* Altura do círculo */
  background-color: rgba(162, 0, 255, 0.5);
  border-radius: 50%;
  text-align: center;
  line-height: 30px; /* Centraliza o ícone verticalmente */
  margin-right: 10px; /* Espaço entre o círculo e o texto */
}

.icon-purple {
  color: white;
  font-size: 18px; /* Tamanho do ícone */
}

/* Estilo para ocultar a barra de rolagem horizontal */
html,
body {
  overflow-x: hidden;
}
