body {
  background-image: url("./src/assets/images/background.jpg");
}

.btn-custom-purple {
  color: #fff;
  background-color: rgba(162, 0, 255, 0.5);
  border-color: rgba(162, 0, 255, 0.5);
}

.btn-custom-purple:hover {
  background-color: rgba(162, 0, 255, 0.5);
  border-color: rgba(162, 0, 255, 0.5);
}

.btn-outline-custom-purple {
  color: rgba(162, 0, 255, 0.5);
  border-color: rgba(162, 0, 255, 0.5);
}

.btn-outline-custom-purple:hover {
  background-color: #800080;
  border-color: #800080;
}

.text-custom-purple {
  color: #800080;
}
.text-justify {
  text-align: justify !important;
}

.icon-purple {
  color: #8a2be2;
}

.bullet {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: rgba(162, 0, 255, 0.5);
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
}

.icon-purple {
  color: white;
  font-size: 18px;
}

html,
body {
  overflow-x: hidden;
}
